dconf
systemd
gh
discord
user-dirs.locale
user-dirs.dirs
google-chrome
chromium
unity3d
pulse
neofetch

.config/obs-studio/logs
.config/obs-studio/profiler_data
.config/obs-studio/basic
.config/obs-studio/plugin_config

.config/nvim
